@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -ms-overflow-style: none;  /* IE and Edge - scroll */
  scrollbar-width: none;  /* Firefox - scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera, But Keep Functionality */
body::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
}

